.toast {
    width: 500px;
    position: absolute; 
    top: 10px; 
    right: 10px;
    opacity: 1;
    z-index: 10000;
    border-radius: 0; 
}

.toast-success {
    background-color: #02B875;
    color: #fff;
}
.toast-info {
    background-color: #17a2b8;
    color: #fff;
}
.toast-danger {
    background-color: #d9534f;
    color: #fff;
}
.toast-warning {
    background-color: #f0ad4e;
}
.toast-primary {
    background-color: #4582EC;
    color: #fff;
}

.lang img { margin-right: 4px; }