.nav-item.active {
    background: #343a40;
}
.nav-item.active a {
    color: #fff;
}

.card, 
.card-header:first-child {
  border-radius: 0;
}

.card-header {
  padding: .8rem 1rem;
  margin-bottom: 0;
  background-color: #343a40;
  border: none;
  color: #fff;
}

#adminForm legend {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

th {
  background: #343a40;
  color: #fff;
  padding: 10px;
}