body {
  background-color: #fff;
  font-size: 15px;
  color: #000;
  font-family: Raleway;  
}

p {
  line-height: 1.5;
  margin: 30px 0;
}

p a {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

a {
  color: #129642;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.alert { border-radius: 0; }
.alert-warning {
    color: #129642;
    background-color: #212529;
    border-color: #212529;
}

.form-control {
    color: #129642;
    background-color: #212529;
    border: 1px solid #129642;
}

.blog-item a, .no-result a, a.no-result {
	text-decoration: underline;
	color: #fff;
}

pre {
	text-align: left;
    white-space: pre-line;
    background-color: #212529;
    padding: 8px;
    color: #129642;
}

a:focus, a:hover {
  color: #fff;
}

blockquote {
  font-style: italic;
  color: #129642;
}

.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

.caption {
  font-size: 14px;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

::-moz-selection {
  color: #129642;
  background: #0085A1;
  text-shadow: none;
}

::selection {
  color: #129642;
  background: #0085A1;
  text-shadow: none;
}

img::selection {
  color: #129642;
  background: transparent;
}

img::-moz-selection {
  color: #129642;
  background: transparent;
}

.post-preview > a {
  color: #129642;
}

.post-preview > a:focus, .post-preview > a:hover {
  text-decoration: none;
  color: #129642;
}

.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.post-preview > a > .post-subtitle {
  font-weight: 300;
  margin: 0 0 10px;
}

.post-preview > .post-meta {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: #129642;
}

.post-preview > .post-meta > a {
  text-decoration: none;
  color: #fff;
}

.post-preview > .post-meta > a:focus, .post-preview > .post-meta > a:hover {
  text-decoration: underline;
  color: #0085A1;
}

@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}

.btn {
  font-size: 14px;
  font-weight: 800;
  padding: 15px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-primary {
  background-color: #0085A1;
  border-color: #0085A1;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #129642;
  background-color: #00657b !important;
  border-color: #00657b !important;
}

.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}

.blog-related {
	margin-bottom: 50px;
}
