<form>
    <field name="title">
      <type>text</type>
      <name>title</name>
      <id>title</id>
      <label>Title</label>
      <message></message>
      <placeholder>Title</placeholder>
      <disabled>false</disabled>
    </field>
    <field name="translation">
      <type>text</type>
      <name>translation</name>
      <id>translation</id>
      <label>translation</label>
      <message></message>
      <placeholder>Translation string</placeholder>
      <disabled>false</disabled>
    </field>
    <field name="url">
      <type>text</type>
      <name>url</name>
      <id>url</id>
      <label>Url</label>
      <message></message>
      <placeholder>Url</placeholder>
      <disabled>false</disabled>
    </field>
    <field name="auth">
      <type>list</type>
      <name>auth</name>
      <id>auth</id>
      <label>Auth</label>
      <message></message>
      <disabled>false</disabled>
      <option value="0">All</option>
      <option value="1">Authenticated</option>
      <option value="2">No authenticated</option>
    </field>
    <field name="type">
      <type>list</type>
      <name>type</name>
      <id>type</id>
      <label>Type</label>
      <message></message>
      <disabled>false</disabled>
      <option value="0">Link</option>
      <option value="1">Modal</option>
    </field>
    <field name="module">
      <type>text</type>
      <name>module</name>
      <id>module</id>
      <label>Module</label>
      <message></message>
      <placeholder>Module to render inside the modal</placeholder>
      <disabled>false</disabled>
    </field>
    <field name="inMenu">
      <type>list</type>
      <name>inMenu</name>
      <id>inMenu</id>
      <label>Menu</label>
      <message></message>
      <disabled>false</disabled>
      <option value="0">FOXY_NO</option>
      <option value="1">FOXY_YES</option>
    </field>
</form>